<!-- LEFT SIDEBAR -->
<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
      <nav>
        <ul class="nav">
          <li><a routerLink="/site" class="active"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
          <ng-container  *ngFor="let s of sistemas">
            <li *ngIf="s.children.length==0">
              <a routerLinkActive="active" [routerLink]="['/site/'+s.nombre]" class="">
                <i *ngIf="s.nombre=='sistemas'" class="lnr lnr-laptop"></i>
                <i *ngIf="s.nombre=='departamentos'" class="lnr lnr-list"></i>
                <i *ngIf="s.nombre=='personal'" class="lnr lnr-users"></i>
                <i *ngIf="s.nombre=='roles'" class="lnr lnr-sort-amount-asc"></i> 
                <span  style="text-transform: capitalize;">{{s.nombre}}</span>
              </a>
            </li>
            <li *ngIf="s.children.length>0">
              <a style="text-transform: capitalize;" attr.href="#subPages{{s.nombre.split(' ').join('')}}" data-toggle="collapse" class="collapsed">
                <i *ngIf="s.nombre=='help desk'" class="lnr lnr-warning"></i>
                <i *ngIf="s.nombre=='adquisiciones'" class="lnr lnr-cart"></i>
                <span>{{s.nombre}}</span> 
                <i class="icon-submenu lnr lnr-chevron-left">
                </i>
              </a>
              <div attr.id="subPages{{s.nombre.split(' ').join('')}}" class="collapse ">
                <ul class="nav">
                  <li *ngFor="let c of s.children">
                    <ng-container *ngIf="c!='autogestión'">
                      <a routerLinkActive="active" *ngIf="c!='nuevo proceso'"  [routerLink]="['/site/'+s.nombre+'/'+c]" style="text-transform: capitalize;" class="">
                        <i *ngIf="c=='nuevo ticket'" class="lnr lnr-flag"></i>
                        <i *ngIf="c=='en proceso'" class="lnr lnr-sync"></i>
                        <i *ngIf="c=='historial'" class="lnr lnr-history"></i>
                        <i *ngIf="c=='reportes'" class="lnr lnr-chart-bars"></i>
                        <i *ngIf="c=='nuevo proceso'" class="lnr lnr-magic-wand"></i>
                        <i *ngIf="c=='infimas'" class="lnr lnr-select"></i>
                        <i *ngIf="c=='autogestión'" class="lnr lnr-briefcase"></i>
                        <i *ngIf="c=='productos'" class="lnr lnr-layers"></i>
                        <i *ngIf="c=='configuraciones'" class="lnr lnr-cog"></i>
                        <i *ngIf="c=='proveedores'" class="lnr lnr-store"></i>
                        <span *ngIf="c=='infimas'; else other">Estado</span>
                        <ng-template #other>
                          {{c}}
                        </ng-template>
                      </a>
                      <a routerLinkActive="active"  *ngIf="c=='nuevo proceso'" [routerLink]="['/site/'+s.nombre+'/'+c+'/new']" style="text-transform: capitalize;" class="">
                        <i *ngIf="c=='nuevo ticket'" class="lnr lnr-flag"></i>
                        <i *ngIf="c=='en proceso'" class="lnr lnr-sync"></i>
                        <i *ngIf="c=='historial'" class="lnr lnr-history"></i>
                        <i *ngIf="c=='reportes'" class="lnr lnr-chart-bars"></i>
                        <i *ngIf="c=='nuevo proceso'" class="lnr lnr-magic-wand"></i>
                        <i *ngIf="c=='infimas'" class="lnr lnr-select"></i>
                        <i *ngIf="c=='autogestión'" class="lnr lnr-briefcase"></i>
                        <i *ngIf="c=='productos'" class="lnr lnr-layers"></i>
                        <i *ngIf="c=='configuraciones'" class="lnr lnr-cog"></i>
                        <i *ngIf="c=='proveedores'" class="lnr lnr-store"></i>
                        <span *ngIf="c=='infimas'; else other">Estado</span>
                        <ng-template #other>
                          {{c}}
                        </ng-template>
                      </a>
                    </ng-container>
                    <ng-container *ngIf="c=='autogestión'">
                      <a routerLinkActive="active" [routerLink]="['/site/'+s.nombre+'/autogestion']" style="text-transform: capitalize;" class="">
                        <i *ngIf="c=='nuevo ticket'" class="lnr lnr-flag"></i>
                        <i *ngIf="c=='en proceso'" class="lnr lnr-sync"></i>
                        <i *ngIf="c=='historial'" class="lnr lnr-history"></i>
                        <i *ngIf="c=='reportes'" class="lnr lnr-chart-bars"></i>
                        <i *ngIf="c=='nuevo proceso'" class="lnr lnr-magic-wand"></i>
                        <i *ngIf="c=='infimas'" class="lnr lnr-select"></i>
                        <i *ngIf="c=='autogestión'" class="lnr lnr-briefcase"></i>
                        <i *ngIf="c=='productos'" class="lnr lnr-layers"></i>
                        <i *ngIf="c=='configuraciones'" class="lnr lnr-cog"></i>
                        <i *ngIf="c=='proveedores'" class="lnr lnr-store"></i>
                        <span *ngIf="c=='infimas'; else other">Estado</span>
                        <ng-template #other>
                          {{c}}
                        </ng-template>
                      </a>
                    </ng-container>
                  </li>
                </ul>
              </div>
            </li>
          </ng-container>
        </ul>
      </nav>
    </div>
</div>
  <!-- END LEFT SIDEBAR -->