.modal-dialog {
    width: 50em;

}

.close2{
    position: absolute;
    top: 0%;
    margin: 0;
    transform: translateY(-15%);
}

.show .tooltip{
    opacity: 1 !important;
}

// .modal-style{
//     .modal-dialog {
//         width: 80em;
//     }
// }

::ng-deep .cdk-overlay-container {
    z-index: 1200 !important;
  }

  .btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

li:hover{
    background: rgba(128, 128, 128, 0.26);
}



tr.disabled {
    background-color: grey;
}

.disabled{
    input {
        pointer-events: none;
    }
    
}

.crop {
    width: 100px;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

    