<!-- MAIN -->
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
      <div class="container-fluid">
        <!-- OVERVIEW -->
        <div class="panel panel-headline">
          <div class="panel-heading">
            <h3 class="panel-title">Configuraciones</h3>
          </div>
          
          <div class="panel-body">
            <div class="progress" *ngIf="!loaded">
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
              </div>
            </div>
            <form *ngIf="loaded" class="form-auth-small" #dataForm="ngForm" (ngSubmit)="saveAuth()">
              <div class="row">
                <div class="col-md-3">
                  Autorizado: 
                  <div class="form-group">
                    <select class="main_dropdown_menu" #id="ngModel" name="id" [(ngModel)]="config.id" required>
                      <option [value]="null" selected>Elegir Gerente</option>
                      <ng-container *ngFor="let d of gerencia">
                        <option [value]=d.id>{{d.name}} {{d.last_name}}</option>
                      </ng-container>
                    </select>
                  </div> 
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  Monto año {{year}}:
                    <div class="form-group">
                      <label for="dept-nombre" class="control-label sr-only">Monto</label>
                      <input class="form-control" type="number" #monto="ngModel" name="monto" [(ngModel)]="config.monto" required>
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <button *ngIf="!loadingSaving" [disabled]="!dataForm.valid" type="submit" class="btn btn-primary btn-lg btn-block">Guardar</button>

                  <button *ngIf="loadingSaving" disabled="disabled" type="submit" class="btn btn-primary btn-lg btn-block"><i class="fa fa-spinner fa-spin"></i> Cargando...</button>
      
                </div>
              </div>
            </form>
          </div>
          <div class="panel-body">
            <div class="progress" *ngIf="!loaded">
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
              </div>
            </div>
            <form *ngIf="loaded" class="form-auth-small" #dataForm="ngForm" (ngSubmit)="saveCPC()">
              <div class="row">
                <div class="col-md-3">
                  Actualizar CPC'S:
                  <div class="form-group">
                    <label for="dept-nombre" class="control-label sr-only">Título</label>
                    <input required type="file" class="form-control" id="dept-nombre"  accept=".xlsx" (change)="fileChange($event)" >
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <button *ngIf="!loadingSaving" [disabled]="!dataForm.valid" type="submit" class="btn btn-primary btn-lg btn-block">Guardar</button>

                  <button *ngIf="loadingSaving" disabled="disabled" type="submit" class="btn btn-primary btn-lg btn-block"><i class="fa fa-spinner fa-spin"></i> Cargando...</button>

                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- END OVERVIEW -->
      </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>
<!-- END MAIN -->