<!-- MAIN -->
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
      <div class="container-fluid">
        <!-- OVERVIEW -->
        <div class="panel panel-headline">
          <div class="panel-heading">
            <h3 class="panel-title">Help Desk - Nuevo Ticket</h3>
          </div>
          <div class="panel-body">
            <div class="progress" *ngIf="!loaded">
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
              </div>
            </div>
            <div class="row" *ngIf="loaded">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-2"></div>
                  <div class="col-md-8">
                    <form class="form-auth-small" #ticketForm="ngForm" (ngSubmit)="saveTicket()">
                      Tipo
                      <div class="form-group">
                        <select class="form-control" #tipo_ticket_id="ngModel" name="tipo_ticket_id" [(ngModel)]="form.tipo_ticket_id" (change)="onChange($event)" required>
                            <option value="null">Elegir Tipo de Ticket</option>
                            <option [value]="d.codigo" *ngFor="let d of tipoTickets">{{d.nombre}}</option>
                        </select>
                      </div>
                      Título
                      <div class="form-group">
                          <label for="dept-nombre" class="control-label sr-only">Título</label>
                          <input  type="text" class="form-control" id="dept-nombre"  placeholder="Título" #titulo="ngModel" name="titulo" [(ngModel)]="form.titulo" required>
                      </div>
                      <ng-container *ngIf="event">
                        <div class="form-group">
                          <label class="fancy-checkbox element-left">
                              <input type="checkbox" #evento="ngModel" name="evento" [(ngModel)]="form.evento" required (change)="onCheckboxChange($event)">
                              <span>Evento</span>
                          </label>
                        </div>
                      </ng-container>
                      <ng-container *ngIf="datePicker">
                        Fecha
                        <div class="form-group">
                          <mat-form-field color="accent" appearance="fill">
                            <input matInput [matDatepicker]="picker1" #fecha_evento="ngModel" name="fecha_evento" required [(ngModel)]="form.fecha_evento">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                          </mat-form-field>
                        </div>
                      </ng-container>
                      Descripción
                      <div class="form-group">
                        <label class="fancy-checkbox element-left">
                          <textarea class="form-control" placeholder="Descripción" rows="4" #descripcion="ngModel"
                          [(ngModel)]="form.descripcion" name="descripcion"  required>></textarea>
                        </label>
                      </div>
                      
                      <button *ngIf="!loadingSaving" [disabled]="!ticketForm.valid" type="submit" class="btn btn-primary btn-lg btn-block">Guardar</button>
                      <button *ngIf="loadingSaving" disabled="disabled" type="submit" class="btn btn-primary btn-lg btn-block"><i class="fa fa-spinner fa-spin"></i> Cargando...</button>
                    </form>
                  </div>
                  <div class="col-md-2"></div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <!-- END OVERVIEW -->
      </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>
<!-- END MAIN -->