<!-- MAIN -->
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- TABLE HOVER -->
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="col-sm-2 col-md-2">
                                <h3 class="panel-title">Personal</h3>
                            </div>
                            
                            <div *ngIf="getDerecho('Crear')" class="col-sm-1 col-md-1" style="position: relative;">
                                <button type="button" class="close close2" (click)="add()"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <input class="form-control" type="text" placeholder="Buscar" [(ngModel)]="rl"> 
                                </div>
                            </div>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Nombres</th>
                                        <th>Apellidos</th>
                                        <th>Correo</th>
                                        <th>Rol</th>
                                        <th>Departamento</th>
                                        <th>Sistemas</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let r of users | filter:rl | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                                        <td>
                                            <span *ngIf="getDerecho('Ver')" (click)="show(r)" class="icon">
                                                <i class="fa fa-eye"></i>
                                            </span>
                                        </td>
                                        <td>{{r.name}}</td>
                                        <td >{{r.last_name}}</td>
                                        <td >{{r.email}}</td>
                                        <td *ngIf="r.roles.length ==0"> </td>
                                        <td *ngIf="r.roles.length>0">{{r.roles[0].name}}</td>
                                        <td *ngIf="r.departamento">{{r.departamento.nombre}}</td>
                                        <td *ngIf="!r.departamento"></td>
                                        <td>{{getSisNoParentNumber(r.sistemas).length}}</td>
                                        <td>
                                            <div class="row">
                                                <div class="col-xs-3 col-md-3">
                                                    <span *ngIf="getDerecho('Editar')" (click)="edit(r)" class="icon"><i class="fa fa-pencil"></i></span>
        
                                                </div>
                                                <div class="col-xs-3 col-md-3">
                                                    <span *ngIf="getDerecho('Eliminar')" (click)="delete(r)" class="icon"><i class="fa fa-trash"></i></span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row"  style="text-align: center;">
                            <div class="col-md-12">
                                <ul >
                                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                    <!-- END TABLE HOVER -->
                </div>
            </div>
            <a  id="openModalButton" [hidden]="true" class="float" data-toggle="modal" data-target="#myModal">
                <i class="fa fa-plus my-float"></i>
            </a>
        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>
<!-- END MAIN -->

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
            <div class="vertical-center">
                <h4 *ngIf="!form.id && !showLayout" class="modal-title">Nuevo Usuario</h4>
                <h4 *ngIf="editLayout" class="modal-title">Editar Usuario: {{form.name}}</h4>
                <h4 *ngIf="showLayout" class="modal-title">{{user.name}} {{user.last_name}}</h4>
            </div>
            <button  id="closeModalButton" type="button" [hidden]="true" class="close" data-dismiss="modal">&times;</button>
            <button type="button" class="close" (click)="close()">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <!-- INPUT GROUPS -->
            <div class="panel">
                <div class="panel-body" *ngIf="!showLayout">
                    <div class="row">
                        <form class="form-auth-small" #rolesForm="ngForm" (ngSubmit)="savePersonal()">

                            <div class="col-md-6">
                                    Cédula
                                    <div class="form-group">
                                        <input
                                            type="hidden"
                                            name="id"
                                            [(ngModel)]="form.id"
                                        />
                                        <label for="dept-cedula" class="control-label sr-only">Cedula</label>
                                        <input [disabled]="showLayout"  type="text" class="form-control" id="dept-cedula"  placeholder="Cedula" #cedula="ngModel" name="cedula" [(ngModel)]="form.cedula" required>
                                    </div>
                                    Nombres
                                    <div class="form-group">
                                        <label for="dept-nombre" class="control-label sr-only">Nombre</label>
                                        <input [disabled]="showLayout"  type="text" class="form-control" id="dept-nombre"  placeholder="Nombres" #name="ngModel" name="name" [(ngModel)]="form.name" required>
                                    </div>
                                    Apellidos
                                    <div class="form-group">
                                        <label for="dept-descripcion" class="control-label sr-only">Apellidos</label>
                                        <input [disabled]="showLayout" type="text" class="form-control" id="dept-descripcion" placeholder="Apellidos" #last_name="ngModel" name="last_name" [(ngModel)]="form.last_name" required>
                                        
                                    </div>
                                    Dirección
                                    <div class="form-group">
                                        <label for="dept-direccion" class="control-label sr-only">Dirección</label>
                                        <input [disabled]="showLayout" type="text" class="form-control" id="dept-direccion" placeholder="Dirección" #direccion="ngModel" name="direccion" [(ngModel)]="form.direccion" required>
                                        
                                    </div>
                                    Teléfono
                                    <div class="form-group">
                                        <label for="dept-telefono" class="control-label sr-only">Teléfono</label>
                                        <input [disabled]="showLayout" type="text" class="form-control" id="dept-telefono" placeholder="Teléfono" #telef="ngModel" name="telef" [(ngModel)]="form.telef" required>
                                        
                                    </div>
                                    Correo
                                    <div class="form-group">
                                        <label for="dept-descripcion" class="control-label sr-only">Correo</label>
                                        <input [disabled]="showLayout" type="text" class="form-control" id="dept-descripcion" placeholder="Correo" #email="ngModel" name="email" [(ngModel)]="form.email" required>
                                        
                                    </div>
                                    Rol
                                    <div class="form-group">
                                        <select [disabled]="showLayout" class="form-control" #rol_id="ngModel" name="rol_id" [(ngModel)]="form.rol_id" required>
                                            <option value="null">Elegir Rol</option>
                                            <option [value]="r.id" *ngFor="let r of roles">{{r.name}}</option>
                                            
                                        </select>
                                    </div>
                                    Departamento
                                    <div class="form-group">
                                        
                                        <select [disabled]="showLayout" class="form-control" #departamento_id="ngModel" name="departamento_id" [(ngModel)]="form.departamento_id" required>
                                            <option value="null">Elegir Departamento</option>
                                            <option [value]="r.id" *ngFor="let r of departamentos">{{r.nombre}}</option>
                                            
                                        </select>
                                    </div>
                                    
                                    <button *ngIf="!showLayout && !loadingSaving" [disabled]="!rolesForm.valid" type="submit" class="btn btn-primary btn-lg btn-block">Guardar</button>
                                    <button *ngIf="loadingSaving" disabled="disabled" type="submit" class="btn btn-primary btn-lg btn-block"><i class="fa fa-spinner fa-spin"></i> Cargando...</button>
                                
                            </div>
                            <div class="col-md-6">
                                
                                <div class="row">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12">
                                            Sistemas
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-12">
                                        
                                        <div class="form-group">
                                            <div class="row">
                                                <ng-container  *ngFor="let data of sistemas">
                                                    <div class="col-md-6" *ngIf="checkParentSis(form,data)">
                                                        <label class="fancy-checkbox" >
                                                            <input [disabled]="showLayout" type="checkbox" [value]="data.id" (change)="onCheckboxChange($event,data)" [checked]="checkedSistema(form,data)" />
                                                            <span>{{data.nombre}}</span>
                                                        </label>
                                                    </div>
                                                </ng-container>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12">
                                            Derechos
                                        </div>
                                    </div>
                                    <ng-container  *ngFor="let us of sisArr ">
                                        <div class="col-sm-6 col-md-6" *ngIf="us.children.length == 0 && !us.sistema_sup_id">
                                        
                                            <div>
                                                <strong>{{us.nombre}}</strong>
                                                <div class="row" >
                                                    <ng-container  *ngFor="let data of ders">
                                                        <div class="col-md-6"  style="padding-right: 0;">
                                                            <label class="fancy-checkbox">
                                                            <input [disabled]="showLayout" type="checkbox" [value]="data.id" (change)="onCheckboxChangeDers($event,us)" [checked]="checkDeresEdit(data.id,us.id)"/>
                                                            <span>{{data.nombre}}</span>
                                                            </label>
                                                        </div>
                                                    </ng-container>
                                                    
                                                </div>
                                                
                                            </div>
                                            
                                            
                                        </div>
                                        <div class="col-sm-12 col-md-12" *ngIf="us.children.length > 0">
                                            <strong>{{us.nombre}}</strong>
                                            <div class="row" >
                                                
                                                <ng-container  *ngFor="let data of us.children">
                                                    <div class="col-sm-6 col-md-6">
                                                        {{data.nombre}}
                                                        <div class="row" >
                                                            <ng-container  *ngFor="let dat of ders">
                                                                <div class="col-md-6"  style="padding-right: 0;">
                                                                    <label class="fancy-checkbox">
                                                                    <input [disabled]="showLayout" type="checkbox" [value]="dat.id" (change)="onCheckboxChangeDers($event,data)" [checked]="checkDeresEdit(dat.id,data.id)"/>
                                                                    <span>{{dat.nombre}}</span>
                                                                    </label>
                                                                </div>
                                                            </ng-container>
                                                            
                                                        </div>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </ng-container>
                                    
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- 
                        <div class="row" >
                                                <ng-container  *ngFor="let data of us.children">
                                                    <div>
                                                        {{data.nombre}}
                                                        <div class="row" >
                                                            <ng-container  *ngFor="let data of ders">
                                                                <div class="col-md-6"  style="padding-right: 0;">
                                                                    <label class="fancy-checkbox">
                                                                    <input [disabled]="showLayout" type="checkbox" [value]="data.id" (change)="onCheckboxChangeDers($event,us)" [checked]="checkDeresEdit(data.id,us.id)"/>
                                                                    <span>{{data.nombre}}</span>
                                                                    </label>
                                                                </div>
                                                            </ng-container>
                                                            
                                                        </div>
                                                    </div>
                                                </ng-container>
                                            </div>
                     -->
                    
                </div>
                <div class="panel-body" *ngIf="showLayout">
                    <div class="row">
                        <div class="col-md-6">
                            <form class="form-auth-small" #ciclosForm="ngForm" (ngSubmit)="savePersonal()">
                                Cédula
                                <div class="form-group">
                                    <input
                                        type="hidden"
                                        name="id"
                                        [(ngModel)]="user.id"
                                    />
                                    <label for="dept-cedula" class="control-label sr-only">Cedula</label>
                                    <input [disabled]="showLayout"  type="text" class="form-control" id="dept-cedula"  placeholder="Cedula" #cedula="ngModel" name="cedula" [(ngModel)]="user.cedula" required>
                                </div>
                                Nombre
                                <div class="form-group">
                                    <label for="dept-nombre" class="control-label sr-only">Nombre</label>
                                    <input [disabled]="showLayout"  type="text" class="form-control" id="dept-nombre"  placeholder="Nombre" #name="ngModel" name="name" [(ngModel)]="user.name" required>
                                </div>
                                Apellidos
                                <div class="form-group">
                                    <label for="dept-descripcion" class="control-label sr-only">Apellidos</label>
                                    <input [disabled]="showLayout" type="text" class="form-control" id="dept-descripcion" placeholder="Apellidos" #last_name="ngModel" name="last_name" [(ngModel)]="user.last_name" required>
                                    
                                </div>
                                Correo
                                <div class="form-group">
                                    <label for="dept-descripcion" class="control-label sr-only">Correo</label>
                                    <input [disabled]="showLayout" type="text" class="form-control" id="dept-descripcion" placeholder="Correo" #email="ngModel" name="email" [(ngModel)]="user.email" required>
                                    
                                </div>
                                Rol
                                <div class="form-group">
                                    <select [disabled]="showLayout" class="form-control" #rol_id="ngModel" name="rol_id" [(ngModel)]="user.roles[0].id">
                                        <option value="null">Elegir Rol</option>
                                        <option [value]="r.id" *ngFor="let r of roles">{{r.name}}</option>
                                        
                                    </select>
                                </div>
                                Departamento
                                <div class="form-group" *ngIf="user.departamento">
                                    
                                    <select [disabled]="showLayout" class="form-control" #dept_id="ngModel" name="dept_id" [(ngModel)]="user.departamento.id">
                                        <option value="null">Elegir Departamento</option>
                                        <option [value]="r.id" *ngFor="let r of departamentos">{{r.nombre}}</option>
                                        
                                    </select>
                                </div>
                                
                                
                                
                                <button *ngIf="!showLayout && !loadingSaving" [disabled]="!ciclosForm.valid" type="submit" class="btn btn-primary btn-lg btn-block">Guardar</button>
                                <button *ngIf="loadingSaving" disabled="disabled" type="submit" class="btn btn-primary btn-lg btn-block"><i class="fa fa-spinner fa-spin"></i> Cargando...</button>
                            </form>

                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        Sistemas
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6" *ngFor="let data of sistemas">
                                                <label class="fancy-checkbox" *ngIf="checkParentSis(form,data)">
                                                  <input [disabled]="showLayout" type="checkbox" [value]="data.id" (change)="onCheckboxChange($event,data)" [checked]="checkedSistema(user,data)"/>
                                                  <span>{{data.nombre}}</span>
                                                  <!-- <span>{{}}</span> -->
                                                </label>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        Derechos
                                    </div>
                                </div>
                                <ng-container  *ngFor="let us of getSisNoParentNumber(user.sistemas) ">
                                    <div class="col-sm-6 col-md-6" *ngIf="us.children.length == 0 && !us.sistema_sup_id">
                                    
                                        <div>
                                            <strong>{{us.nombre}}</strong>
                                            <div class="row" >
                                                <ng-container  *ngFor="let data of ders">
                                                    <div class="col-md-6"  style="padding-right: 0;">
                                                        <label class="fancy-checkbox">
                                                        <input [disabled]="showLayout" type="checkbox" [value]="data.id"  [checked]="checkDeresEdit(data.id,us.id)"/>
                                                        <span>{{data.nombre}}</span>
                                                        </label>
                                                    </div>
                                                </ng-container>
                                                
                                            </div>
                                            
                                        </div>
                                        
                                        
                                    </div>
                                    <div class="col-sm-12 col-md-12" *ngIf="us.children.length > 0">
                                        <strong>{{us.nombre}}</strong>
                                        <div class="row" >
                                            
                                            <ng-container  *ngFor="let data of us.children">
                                                <div class="col-sm-6 col-md-6">
                                                    {{data.nombre}}
                                                    <div class="row" >
                                                        <ng-container  *ngFor="let dat of ders">
                                                            <div class="col-md-6"  style="padding-right: 0;">
                                                                <label class="fancy-checkbox">
                                                                <input [disabled]="showLayout" type="checkbox" [value]="dat.id"  [checked]="checkDeresEdit(dat.id,data.id)"/>
                                                                <span>{{dat.nombre}}</span>
                                                                </label>
                                                            </div>
                                                        </ng-container>
                                                        
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- END INPUT GROUPS -->
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="close()">Close</button>
        </div>
  
      </div>
    </div>
</div>