<!-- MAIN -->
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
      <div class="container-fluid">
        <!-- OVERVIEW -->
        <div class="panel panel-headline">
          <div class="panel-heading">
            <h3 class="panel-title">Reportes</h3>
          </div>
          <div class="panel-body">
            <form class="form-auth-small" #dataForm="ngForm" (ngSubmit)="getReport()">

              <div class="row">
                <div class="col-md-6">
                    Fecha Inicio
                    <div class="form-group">
                        <mat-form-field color="accent" appearance="fill" style="width: 100%;">
                          <input matInput [matDatepicker]="picker1" [max]="maxDate" [min]="minDate" #fecha_inicio="ngModel" name="fecha_inicio" required [(ngModel)]="reporte.fecha_inicio" (dateInput)="onDateChanged($event.value)">
                          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                          <mat-datepicker #picker1 [(ngModel)]="reporte.fecha_inicio" name="fecha_inicio" ngDefaultControl ></mat-datepicker>
                        </mat-form-field>
                    </div>

                    Fecha Final
                    <div class="form-group">
                        <mat-form-field color="accent" appearance="fill" style="width: 100%;">
                          <input matInput [matDatepicker]="picker2" [max]="maxDate" [min]="minDate" #fecha_inicio="ngModel" name="fecha_inicio" required [(ngModel)]="reporte.fecha_fin" (dateInput)="onDateChanged($event.value)">
                          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                          <mat-datepicker #picker2 [(ngModel)]="reporte.fecha_fin" name="fecha_fin" ngDefaultControl ></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                      <label class="fancy-radio">
                        <input name="gender" value="estado" type="radio" #tipo="ngModel" name="tipo" required [(ngModel)]="reporte.tipo">
                        <span><i></i>Estado</span>
                      </label>
                      <label class="fancy-radio">
                        <input name="gender" value="auto" type="radio" #tipo="ngModel" name="tipo" required [(ngModel)]="reporte.tipo">
                        <span><i></i>Autogestión</span>
                      </label>
                    </div>
                  
                </div>
                
              </div>
              <div class="row">
                <div class="col-md-3">
                  <button *ngIf="!loadingSaving" [disabled]="!dataForm.valid" type="submit" class="btn btn-primary btn-lg btn-block">Guardar</button>

                  <button *ngIf="loadingSaving" disabled="disabled" type="submit" class="btn btn-primary btn-lg btn-block"><i class="fa fa-spinner fa-spin"></i> Cargando...</button>

                </div>
              </div>
            </form>

          </div>
        </div>
        <!-- END OVERVIEW -->
      </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>
<!-- END MAIN -->