<!-- MAIN -->
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
      <div class="container-fluid">
        <!-- OVERVIEW -->
        <div class="panel panel-headline">
          <div class="panel-heading">
            <h3 class="panel-title">Help Desk - Historial</h3>
          </div>
          <div class="panel-body">
            <div class="progress" *ngIf="!loaded">
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
              </div>
            </div>
            <div class="row" *ngIf="loaded">
              <div class="col-md-12">
                  <input class="form-control" type="text" placeholder="Buscar" [(ngModel)]="tckt"> 
              </div>
            </div>
            <table class="table table-hover" *ngIf="loaded">
              <thead>
                  <tr>
                      <th></th>
                      <th>Codigo</th>
                      <th>Título</th>
                      <th>Tipo</th>
                      <th>Usuario</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let d of tickets | filter:tckt | paginate: { itemsPerPage: 10, currentPage: t }">
                      <td>
                          <span *ngIf="getDerecho('Ver')" (click)="show(d)" class="icon">
                              <i class="fa fa-eye"></i>
                          </span>
                      </td>
                      <td *ngIf="!d.codigo"></td>
                      <td *ngIf="d.codigo">{{d.codigo}}</td>
                      <td>{{d.titulo}}</td>
                      <td *ngIf="!d.tipo_ticket"></td>
                      <td *ngIf="d.tipo_ticket">{{d.tipo_ticket.nombre}}</td>
                      <td >{{d.user.name}} {{d.user.last_name}}</td>
                  </tr>
              </tbody>
            </table>
          </div>
          <div class="row"  style="text-align: center;">
            <div class="col-md-12">
                <ul >
                    <pagination-controls (pageChange)="t = $event"></pagination-controls>
                </ul>
            </div>
          </div>
        </div>
        <!-- END OVERVIEW -->
      </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>
<!-- END MAIN -->