<!-- MAIN -->
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
      <div class="container-fluid">
        <!-- OVERVIEW -->
        <div class="panel panel-headline">
          <div class="panel-heading">
            <h3 class="panel-title">Help Desk - En Proceso</h3>
          </div>
          <div class="panel-body">
            <div class="progress" *ngIf="!loaded">
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
              </div>
            </div>
            <div class="row" *ngIf="loaded">
              <div class="col-md-12">
                  <input class="form-control" type="text" placeholder="Buscar" [(ngModel)]="tckt"> 
              </div>
            </div>
            <table class="table table-hover" *ngIf="loaded">
              <thead>
                  <tr>
                      <th></th>
                      <th>Codigo</th>
                      <th>Título</th>
                      <th>Tipo</th>
                      <th>Usuario</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let d of tickets | filter:tckt | paginate: { itemsPerPage: 10, currentPage: t }">
                      <td>
                          <span *ngIf="getDerecho('Ver')" (click)="show(d)" class="icon">
                              <i class="fa fa-eye"></i>
                          </span>
                      </td>
                      <td *ngIf="!d.codigo"></td>
                      <td *ngIf="d.codigo">{{d.codigo}}</td>
                      <td>{{d.titulo}}</td>
                      <td *ngIf="!d.tipo_ticket"></td>
                      <td *ngIf="d.tipo_ticket">{{d.tipo_ticket.nombre}}</td>
                      <td >{{d.user.name}} {{d.user.last_name}}</td>
                  </tr>
              </tbody>
            </table>
          </div>
          <div class="row"  style="text-align: center;">
            <div class="col-md-12">
                <ul >
                    <pagination-controls (pageChange)="t = $event"></pagination-controls>
                </ul>
            </div>
          </div>
        </div>
        <!-- END OVERVIEW -->
      </div>
      <a  id="openModalButton" [hidden]="true" class="float" data-toggle="modal" data-target="#myModal">
        <i class="fa fa-plus my-float"></i>
    </a>
    </div>
    <!-- END MAIN CONTENT -->
</div>
<!-- END MAIN -->


<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
          <div class="vertical-center" style="text-align: center;">
              <h4  class="modal-title" *ngIf="ticket">{{ticket.titulo}} - {{ticket.codigo}}</h4>
          </div>
          <button  id="closeModalButton" type="button" [hidden]="true" class="close" data-dismiss="modal">&times;</button>
          <button type="button" class="close" (click)="close()">&times;</button>

      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <!-- INPUT GROUPS -->
          <div class="panel">
              <div class="panel-body" >
                <div class="row">
                  <div class="col-md-6">
                    Estado
                    <div class="form-group">
                        <label for="ciclo-ano-lectivo" class="control-label sr-only">Estado</label>
                        <input *ngIf="ticket" [disabled]="showLayout" type="text" class="form-control" id="ciclo-ano-lectivo" placeholder="Estado" name="estado" [value]="ticket.estado_ticket[0].nombre" required>
                        
                    </div>
                    Requiriente
                    <div class="form-group">
                        <label for="ciclo-ano-lectivo" class="control-label sr-only">Requiriente</label>
                        <input *ngIf="ticket" [disabled]="showLayout" type="text" class="form-control" id="ciclo-ano-lectivo" placeholder="Requiriente" name="user" [value]="ticket.user.name+' '+ticket.user.last_name"  required>
                        
                    </div>
                    Departamento
                    <div class="form-group">
                        <label for="ciclo-ano-lectivo" class="control-label sr-only">Departamento</label>
                        <input *ngIf="ticket" [disabled]="showLayout" type="text" class="form-control" id="ciclo-ano-lectivo" placeholder="Departamento" name="user" [value]="ticket.user.departamento.nombre"  required>
                        
                    </div>
                    Tipo
                    <div class="form-group">
                        <label for="ciclo-ano-lectivo" class="control-label sr-only">Tipo</label>
                        <input *ngIf="ticket" [disabled]="showLayout" type="text" class="form-control" id="ciclo-ano-lectivo" placeholder="Tipo" name="user" [value]="ticket.tipo_ticket.nombre"  required>
                        
                    </div>
                    Descripción
                    <div class="form-group">
                      <label class="fancy-checkbox element-left">
                        <textarea *ngIf="ticket" [disabled]="showLayout" class="form-control" placeholder="Descripción" rows="4" [value]="ticket.descripcion"  required>></textarea>
                      </label>
                    </div>
                    <form class="form-auth-small" #ciclosForm="ngForm" >
                      Prioridad
                      <div class="form-group" style="padding-right: 0;" >
                          <select [disabled]="showLayout" class="form-control" >
                              <option value="null">Elegir Prioridad</option>
                              <option [value]="d.id" *ngFor="let d of prioridades">{{d.nombre}}</option>
                              
                          </select>
                      </div>
                      Técnico
                      <div class="form-group" style="padding-right: 0;" >
                          <select [disabled]="showLayout" class="form-control" >
                              <option value="null">Elegir Técnico</option>
                              <option [value]="d.id" *ngFor="let d of techs">{{d.nombre}}</option>
                              
                          </select>
                      </div>
                      <button *ngIf="!showLayout && !loadingSaving" [disabled]="!ciclosForm.valid" type="submit" class="btn btn-primary btn-lg btn-block">Guardar</button>
                      <button *ngIf="loadingSaving" disabled="disabled" type="submit" class="btn btn-primary btn-lg btn-block"><i class="fa fa-spinner fa-spin"></i> Cargando...</button>
                    </form>
                    
                  </div>
                  <div class="col-md-6">
                    <!-- TIMELINE -->
                    <div class="panel panel-scrolling">
                      <div class="panel-heading">
                        <h3 class="panel-title">Recent User Activity</h3>
                        <div class="right">
                          <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                          <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                        </div>
                      </div>
                      <div class="panel-body">
                        <ul class="list-unstyled activity-list">
                          <li>
                            <img src="assets/img/user1.png" alt="Avatar" class="img-circle pull-left avatar">
                            <p><a href="#">Michael</a> has achieved 80% of his completed tasks <span class="timestamp">20 minutes ago</span></p>
                          </li>
                          <li>
                            <img src="assets/img/user2.png" alt="Avatar" class="img-circle pull-left avatar">
                            <p><a href="#">Daniel</a> has been added as a team member to project <a href="#">System Update</a> <span class="timestamp">Yesterday</span></p>
                          </li>
                          <li>
                            <img src="assets/img/user3.png" alt="Avatar" class="img-circle pull-left avatar">
                            <p><a href="#">Martha</a> created a new heatmap view <a href="#">Landing Page</a> <span class="timestamp">2 days ago</span></p>
                          </li>
                          <li>
                            <img src="assets/img/user4.png" alt="Avatar" class="img-circle pull-left avatar">
                            <p><a href="#">Jane</a> has completed all of the tasks <span class="timestamp">2 days ago</span></p>
                          </li>
                          <li>
                            <img src="assets/img/user5.png" alt="Avatar" class="img-circle pull-left avatar">
                            <p><a href="#">Jason</a> started a discussion about <a href="#">Weekly Meeting</a> <span class="timestamp">3 days ago</span></p>
                          </li>
                        </ul>
                        <button type="button" class="btn btn-primary btn-bottom center-block">Load More</button>
                      </div>
                    </div>
                    <!-- END TIMELINE -->
                  </div>
                </div>
                  
              </div>
          </div>
          <!-- END INPUT GROUPS -->
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="close()">Close</button>
      </div>

    </div>
  </div>
</div>