<!-- MAIN -->
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
      <div class="container-fluid">
        <!-- OVERVIEW -->
        <div class="panel panel-headline">
          <div class="panel-heading">
            <h3 class="panel-title">Nuevo Proceso - Adquisiciones</h3>
            <h4 *ngIf="proceso.tipo=='IC'">Estado</h4>
            <h4 *ngIf="proceso.tipo=='A'">Autogestión</h4>
            <button type="button" (click)="return()" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i>Regresar</button>

          </div>
          <div class="panel-body">
            <div class="row" >
              <div class="col-md-6" (click)="bienSelected()">
                <div class="metric">
                  <div class="row">
                    <div class="col-md-12" style="text-align: center;">
                      <span class="icon"><i class="fa fa-database"></i></span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <p style="text-align: center;">
                        <span class="number">Bienes</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6" (click)="servicioSelected()">
                <div class="metric">
                  <div class="row">
                    <div class="col-md-12" style="text-align: center;">
                      <span class="icon"><i class="fa fa-thumbs-up"></i></span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <p style="text-align: center;">
                        <span class="number">Servicios</span>
                      </p>
                    </div>
                  </div>
              </div>
            </div>
            <div class="row" >
              <div class="col-md-12" (click)="obraSelected()">
                <div class="metric">
                  <div class="row">
                    <div class="col-md-12" style="text-align: center;">
                      <span class="icon"><i class="fa fa-database"></i></span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <p style="text-align: center;">
                        <span class="number">Obras</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END OVERVIEW -->
      </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>
<!-- END MAIN -->