<!-- MAIN -->
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
      <div class="container-fluid">
        <!-- OVERVIEW -->
        <div class="panel panel-headline">
          <div class="panel-heading">
            <h3 class="panel-title">Nuevo Proceso - Adquisiciones</h3>
          </div>
          <div class="panel-body">
            <div class="row" >
              <div class="col-md-6" (click)="infimaSelected()">
                <div class="metric">
                  <div class="row">
                    <div class="col-md-12" style="text-align: center;">
                      <span class="icon"><i class="fa fa-briefcase"></i></span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <p style="text-align: center;">
                        <span class="number">Estado</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6" (click)="autoSelected()">
                <div class="metric">
                  <div class="row">
                    <div class="col-md-12" style="text-align: center;">
                      <span class="icon"><i class="fa fa-shopping-cart"></i></span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <p style="text-align: center;">
                        <span class="number">Autogestión</span>
                      </p>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END OVERVIEW -->
      </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>
<!-- END MAIN -->