<!-- MAIN -->
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
      <div class="container-fluid">
        <!-- OVERVIEW -->
        <div class="panel panel-headline">
          <div class="panel-heading">
            <h3 class="panel-title">Productos</h3>
          </div>
          <div class="panel-body">
            <div class="progress" *ngIf="!loaded">
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
              </div>
            </div>
            <div class="row" *ngIf="loaded">
              <div class="col-md-12">
                  <input class="form-control" type="text" placeholder="Buscar" [(ngModel)]="rl"> 
              </div>
              <div class="col-md-12">
                <table class="table table-hover">
                  <thead>
                      <tr>
                        <th>Código</th>
                        <th>Descripción</th>
                        <th>Catalogado</th>
                        <th></th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let r of cpcs | filter:rl | paginate: { itemsPerPage: 20, currentPage: p }; let i = index">
                        <td >{{r.codigo}}</td>
                        <td >{{r.descripcion}}</td>
                        <td  *ngIf="r.catalogado==''">NO</td>
                        <td  *ngIf="r.catalogado=='1'">SI</td>  
                        
                        <td *ngIf="r.catalogado=='1'">
                              <div class="row">
                                  <div class="col-xs-3 col-md-3">
                                      <span *ngIf="getDerecho('Editar')" (click)="unlock(r)" class="icon">
                                        <i *ngIf="r.unblocked==0" class="fa fa-lock"></i>
                                        <i *ngIf="r.unblocked==1" class="fa fa-unlock"></i>
                                      </span>
    
                                  </div>
                              </div>
                          </td>
                      </tr>
                  </tbody>
                </table>
              </div>
              <!-- <div class="row"  style="text-align: center;"> -->
                <div class="col-md-12">
                    <ul >
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </ul>
                </div>
                
              <!-- </div> -->
            </div>
            
          </div>
          
        </div>
        <!-- END OVERVIEW -->
      </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>
<!-- END MAIN -->