<!-- MAIN -->
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
      <div class="container-fluid">
        <!-- OVERVIEW -->
        <div class="panel panel-headline">
          <div class="panel-heading">
            <h3 class="panel-title">Nuevo Proceso - Adquisiciones</h3>
            <h4 >
              <ng-container *ngIf="proceso.tipo=='IC'">
                Estado -
              </ng-container>
              <ng-container *ngIf="proceso.tipo=='A'">
                Autogestión -
              </ng-container>
              <ng-container *ngIf="proceso.clasificacion=='B'">
                Bienes
              </ng-container>
              <ng-container *ngIf="proceso.clasificacion=='S'">
                Servicios
              </ng-container>
              <ng-container *ngIf="proceso.clasificacion=='O'">
                Obra
              </ng-container>
            </h4>
            <button type="button" (click)="return()" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i>Regresar</button>
          </div>
          <div class="panel-body">
            <div class="progress" *ngIf="!loaded">
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
              </div>
            </div>
            <div class="row" *ngIf="loaded">
              <div class="col-md-12" >
                <div class="row">
                  <div class="col-md-2"></div>
                  <div class="col-md-8">
                    <form class="form-auth-small" #dataForm="ngForm" (ngSubmit)="saveProcess()">
                      Fecha
                      <div class="form-group">
                          <mat-form-field color="accent" appearance="fill" style="width: 100%;">
                            <input matInput [matDatepicker]="picker1" [max]="today" #fecha_inicio="ngModel" name="fecha_inicio" required [(ngModel)]="proceso.fecha_inicio" (dateInput)="onDateChanged($event)">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1 [(ngModel)]="proceso.fecha_inicio" name="fecha_inicio" ngDefaultControl ></mat-datepicker>
                          </mat-form-field>
                      </div>
                      Objeto
                      <div class="form-group">
                          <label for="dept-nombre" class="control-label sr-only">Objeto</label>
                          <input  type="text" class="form-control" id="dept-nombre"  placeholder="" #objeto="ngModel" name="objeto" [(ngModel)]="proceso.objeto" required>
                      </div>
                      <ng-container *ngIf="proceso.tipo=='IC'">
                        CPC
                        <div class="form-group">
                          <div class="input-group" *ngIf="selectedCPCs.length==0">
                            <input disabled class="form-control" type="text">
                            <span class="input-group-btn"><button class="btn btn-primary" (click)="cpc()" type="button">Asignar CPC</button></span>
                            <button  id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#myModal" type="button">Asignar CPC</button>
                          </div>
                        </div>
                      </ng-container>
                      <div  style="width: 100%;" *ngIf="selectedCPCs.length>0" >
                        <div class="row">
                          <div class="col-md-3 " style="text-align: center;" *ngFor="let sc of selectedCPCs; let i = index">
                            <div class="row">
                              <div class="col-md-2 no-padding">
                                <button  type="button" (click)="deleteSelected(sc.id)" class="close" >
                                  <i style="color: red;" class="fa fa-times-circle"></i>
                                </button>
                              </div>
                              <div class="col-md-10 no-padding mr-2" >
                                <span [ngbTooltip]="sc.descripcion" placement="top" show-delay="500">{{sc.codigo}}</span>
                                
                              </div>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <span class="input-group-btn"><button class="btn btn-primary" (click)="cpc()" type="button">Asignar CPC</button></span>
                            <button  id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#myModal" type="button">Asignar CPC</button>
                          </div>
                        </div>
                      </div>
                      Departamento Requieriente
                      <div class="form-group">
                        <select class="form-control" #dep_req="ngModel" name="dep_req" [(ngModel)]="proceso.dep_req" (change)="onChangeDept($event)" required>
                            <option value="null">Elegir Departamento</option>
                            <ng-container *ngFor="let d of departamentos">
                              <option [value]="d.codigo" *ngIf="d.dep_inf.length == 0">{{d.dep_sup.nombre}} | {{d.nombre}}</option>
                            </ng-container>
                        </select>
                      </div>
                      Persona Requiriente
                      <div class="form-group">
                          <label for="dept-nombre" class="control-label sr-only">Persona Requieriente</label>
                          <input disabled  type="text" class="form-control" id="dept-nombre"  placeholder="" #user_req="ngModel" name="user_req" [(ngModel)]="proceso.user_req" required>
                      </div>
                      Email persona Requiriente
                      <div class="form-group">
                          <label for="dept-nombre" class="control-label sr-only">Título</label>
                          <input disabled  type="text" class="form-control" id="dept-nombre"  placeholder="" #user_req_email="ngModel" name="user_req_email" [(ngModel)]="proceso.user_req_email" required>
                      </div>
                      <!-- Adminstrador de proceso es el director del area
                      Y adicionar un campo donde se escoja a la PERSONA ENCARGADA -->
                      Adminstrador de proceso
                      <div class="form-group">
                          <label for="dept-nombre" class="control-label sr-only">Adminstrador de proceso</label>
                          <input disabled  type="text" class="form-control" id="dept-nombre"  placeholder="" #admin_req="ngModel" name="admin_req" [(ngModel)]="proceso.admin_req" required>
                      </div>
                      Persona Encargada de proceso
                      <div class="form-group">
                        <select [disabled]="coords.length==0" class="form-control" #pers_encrg="ngModel" name="pers_encrg" [(ngModel)]="proceso.pers_encrg_id" (change)="onChangeAdminProcess($event)" required>
                            <option value="null">Elegir administrador de proceso</option>
                            <option [disabled]="coords.length==0" [value]="d.id" *ngFor="let d of coords">{{d.name}} {{d.last_name}}</option>
                        </select>
                      </div>
                      Observaciones
                      <div class="form-group">
                        <label class="fancy-checkbox element-left">
                          <textarea class="form-control" placeholder="" rows="4" #descripcion="ngModel"
                          [(ngModel)]="proceso.observaciones" (change)="textAreaObsChange()" name="descripcion"  required>></textarea>
                        </label>
                      </div>
                      Autorizado
                      <div class="form-group">
                        <label for="dept-nombre" class="control-label sr-only">Título</label>
                        <!-- <input ng2FileSelect type="file" accept=".pdf" [uploader]="uploader"/> -->
                        <input required type="file" class="form-control" id="dept-nombre"  accept=".pdf" (change)="fileChange($event)" >
                      </div>
                      Código Documento de referencia
                      <div class="form-group codigo">
                          <label for="codigo" class="control-label sr-only">Título</label>
                          <input   type="text" class="form-control" id="dept-nombre"  placeholder="" #codigo="ngModel" 
                          name="codigo" [(ngModel)]="proceso.codigo_documento" (ngModelChange)="docRefChange()" required>

                          <!-- <input class="form-control" id="codigo"  placeholder="" #codigo="ngModel" name="codigo" 
                          [(ngModel)]="proceso.codigo"  type="text" 
                           required> -->
                      </div>
                      <ng-container *ngIf="proceso.tipo=='IC'">
                        <div class="form-group">
                          <label class="fancy-checkbox element-left">
                              <input type="checkbox" (change)="onRegularizaionCheckboxChange($event)" name="evento"  required >
                              <span>Regularzación</span>
                          </label>
                        </div>
                        <ng-container *ngIf="reg">
                          Fecha
                          <div class="form-group">
                              <mat-form-field color="accent" appearance="fill" style="width: 100%;">
                                <input matInput [matDatepicker]="picker1" [max]="today" #reg_fecha="ngModel" name="fecha_inicio" required [(ngModel)]="proceso.reg_fecha">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                              </mat-form-field>
                          </div>
                          Código
                          <div class="form-group">
                            <label for="dept-nombre" class="control-label sr-only">Título</label>
                            <input  type="text" class="form-control" id="dept-nombre"  placeholder="" #user_req_email="ngModel" name="user_req_email" [(ngModel)]="proceso.reg_codigo" required>
                          </div>
                          Autorizado
                          <div class="form-group">
                            <label for="dept-nombre" class="control-label sr-only">Título</label>
                            <input  type="file" class="form-control" id="dept-nombre"  placeholder="" #user_req_email="ngModel" name="user_req_email" [(ngModel)]="proceso.reg_codigo" required>
                          </div>
                        </ng-container>
                      </ng-container>
                      
                      
                      <button *ngIf="!loadingSaving" [disabled]="!dataForm.valid" type="submit" class="btn btn-primary btn-lg btn-block">Guardar</button>
                      <button *ngIf="loadingSaving" disabled="disabled" type="submit" class="btn btn-primary btn-lg btn-block"><i class="fa fa-spinner fa-spin"></i> Cargando...</button>
                    </form>
                  </div>
                  <div class="col-md-2"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END OVERVIEW -->
      </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>
<!-- END MAIN -->


<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
          <div class="vertical-center">
              <h4 class="modal-title">Asignación de CPC</h4>
          </div>
          <button  id="closeModalButton" type="button"  class="close" data-dismiss="modal">&times;</button>

      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <!-- INPUT GROUPS -->
          <div class="panel">
            <div class="panel-body">
                <div class="vertical-center">
                    <h5 class="modal-title">Seleccionados</h5>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Codigo</th>
                            <th>Descripción</th>
                            <th>Catalogado</th>
                            <th>Acumulado</th>
                        </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let s of selectedCPCs">
                        <tr >
                          <td >
                              <div class="row">
                                  <div class="col-md-12" style="text-align: center;">
                                      <button  type="button" (click)="deleteSelected(s.id)"  class="close" >
                                          <i style="color: red;" class="fa fa-times-circle"></i>
                                      </button>
                                  </div>
                              </div>
                          </td>
                          <td >{{s.codigo}}</td>
                          <td >{{s.descripcion}}</td>
                          <td  *ngIf="s.catalogado==''">NO</td>
                          <td  *ngIf="s.catalogado=='1'">SI</td>
                          <td>{{getAcumulado(s)}}</td>
                      </tr>
                      </ng-container>
                        
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-12">
                        <input class="form-control" type="text" placeholder="Buscar" [(ngModel)]="cpcSearch"> 
                    </div>
                </div>
                
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Selección</th>
                            <th>Codigo</th>
                            <th>Descripción</th>
                            <th>Catalogado</th>
                            <th>Acumulado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let s of cpcs | filter:cpcSearch | paginate: { itemsPerPage: 10, currentPage: p }">
                            <td >
                                <div class="row">
                                    <div class="col-md-12" style="text-align: center;">
                                        <input id="{{ 'cpcSel-' + s.id }}" type="checkbox" (change)="onCheckboxChange($event,s)" [value]="s.id" [disabled]="(s.catalogado=='1' && s.unblocked==0) || getAcumulado(s)>=monto.monto"/>
                                    </div>
                                </div>
                            </td>
                            <td >{{s.codigo}}</td>
                            <td >{{s.descripcion}}</td>
                            <td  *ngIf="s.catalogado==''">NO</td>
                            <td  *ngIf="s.catalogado=='1'">SI</td>
                            <td> {{getAcumulado(s)}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row"  style="text-align: center;">
                <!-- <div class="col-md-12"> -->
                    <ul >
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </ul>
                <!-- </div> -->
                
            </div>
          </div>
          <!-- END INPUT GROUPS -->
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>