<!-- MAIN -->
<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
    <div class="container-fluid">
      <!-- OVERVIEW -->
      <div class="panel panel-headline">
        <div class="panel-heading">
          <h3 class="panel-title">Autogestión</h3>
        </div>
        <div class="panel-body">
          <div class="progress" *ngIf="!loaded">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            </div>
          </div>
          <div class="row" *ngIf="loaded">
            <div class="col-md-12">
              <div class="custom-tabs-line tabs-line-bottom left-aligned">
                <ul class="nav" role="tablist">
                  <li class="active"><a href="#tab-bottom-left1" role="tab" data-toggle="tab">Activos <span class="badge">{{procesosActivos.length}}</span></a></li>
                  <li><a href="#tab-bottom-left2" role="tab" data-toggle="tab">Terminados <span class="badge">{{procesosInactivos.length}}</span></a></li>
                </ul>
              </div>
              <div class="tab-content">
                <div class="tab-pane fade in active" id="tab-bottom-left1">
                  <div class="table-responsive">
                    <div class="row">
                      <div class="col-md-12">
                          <input class="form-control" type="text" placeholder="Buscar" [(ngModel)]="proc"> 
                      </div>
                    </div>
                    <table class="table project-table">
                      <thead>
                        <tr>
                          <th></th>
                          <th>Fecha</th>
                          <th>Código</th>
                          <th>Objeto</th>
                          <th>Doc. Ref.</th>
                          <th>Elaborado por</th>
                          <th>Avance</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let p of procesosActivos | filter:proc | paginate: { itemsPerPage: 10, currentPage: prs }">
                          <td>
                            <span *ngIf="getDerecho('Ver')" (click)="show(p)" class="icon">
                              <i class="fa fa-eye"></i>
                            </span>
                          </td>
                          <td>
                            <span>{{p.fecha_inicio | date}}</span>
                          </td>
                          <td>
                            <span>{{p.codigo}}</span>
                          </td>
                          <td >
                            <span class="crop">{{p.objeto}}</span>
                          </td>
                          <td>
                            <span *ngIf="p.codigo_documento">{{p.codigo_documento}}</span>
                          </td>
                          <td><img src="assets/img/user2.png" alt="Avatar" class="avatar img-circle"> {{returnElaboradoPor(p.tipo_procesos_usuarios_get)}}</td>
                          <td>
                            <div class="progress">
                              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                <span>60% Complete</span>
                              </div>
                            </div>
                          </td>
                        </tr>          
                      </tbody>
                    </table>
                  </div>
                  <div class="row"  style="text-align: center;">
                    <div class="col-md-12">
                        <ul >
                            <pagination-controls (pageChange)="prs = $event"></pagination-controls>
                        </ul>
                    </div>
                    
                  </div>
                </div>
                <div class="tab-pane fade" id="tab-bottom-left2">
                  <div class="table-responsive">
                    <div class="row">
                      <div class="col-md-12">
                          <input class="form-control" type="text" placeholder="Buscar" (input)="searchProcs($event)"> 
                      </div>
                    </div>
                    <table class="table project-table">
                      <thead>
                        <tr>
                          <th></th>
                          <th>Fecha</th>
                          <th>Código</th>
                          <th>Objeto</th>
                          <th>Documento Ref.</th>
                          <th>Elaborado por</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let p of procesosInactivos | filter:procInc | paginate: { itemsPerPage: 10, currentPage: p2 }">
                          <td>
                            <span *ngIf="getDerecho('Ver')" (click)="show(p)" class="icon">
                              <i class="fa fa-eye"></i>
                            </span>
                          </td>
                          <td>
                            <span>{{p.fecha_inicio | date}}</span>
                          </td>
                          <td>
                            <span>{{p.codigo}}</span>
                          </td>
                          <td>
                            <span >{{p.objeto}}</span>
                          </td>
                          <td>
                            <span *ngIf="p.codigo_documento">{{p.codigo_documento}}</span>
                          </td>
                          <td>
                            <!-- <img src="assets/img/user2.png" alt="Avatar" class="avatar img-circle"> -->
                             {{returnElaboradoPor(p.tipo_procesos_usuarios_get)}}
                          </td>
                          <!-- <td>
                            <div class="progress">
                              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                <span>60% Complete</span>
                              </div>
                            </div>
                          </td> -->
                        </tr>    
                        
                      </tbody>
                    </table>
                  </div>
                  <div class="row"  style="text-align: center;">
                    <div class="col-md-12">
                        <ul >
                            <pagination-controls (pageChange)="p2 = $event"></pagination-controls>
                        </ul>
                    </div>
                    
                  </div>
                </div>
              </div>
              <!-- END TABBED CONTENT -->

            </div>
            
          </div>
        </div>
      </div>
      <!-- END OVERVIEW -->
    </div>
  </div>
  <!-- END MAIN CONTENT -->
</div>
<!-- END MAIN -->