/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
.tooltip{
    opacity:1!important;
  }
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
