<!-- MAIN -->
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- TABLE HOVER -->
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="col-sm-2 col-md-2">
                                <h3 class="panel-title">Sistemas</h3>
                            </div>
                            
                            <div *ngIf="getDerecho('Crear')" class="col-sm-1 col-md-1" style="position: relative;">
                                <button type="button" class="close close2" (click)="add()"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <input class="form-control" type="text" placeholder="Buscar" [(ngModel)]="sis"> 
                                </div>
                            </div>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Sistema</th>
                                        <th>Superior</th>
                                        <th>Usuarios</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let s of sistemas | filter:sis | paginate: { itemsPerPage: 10, currentPage: p }">
                                        <td>
                                            <span *ngIf="getDerecho('Ver')" (click)="show(s)" class="icon">
                                                <i class="fa fa-eye"></i>
                                            </span>
                                        </td>
                                        <td>{{s.nombre}}</td>
                                        <td *ngIf="!s.parent"></td>
                                        <td *ngIf="s.parent">{{s.parent.nombre}}</td>
                                        <td>{{(s.users).length}}</td>
                                        <td>
                                            <div class="row">
                                                <div class="col-xs-3 col-md-3">
                                                    <span *ngIf="getDerecho('Editar')" (click)="edit(s)" class="icon"><i class="fa fa-pencil"></i></span>
        
                                                </div>
                                                <div class="col-xs-3 col-md-3">
                                                    <span *ngIf="getDerecho('Eliminar')" (click)="delete(s)" class="icon"><i class="fa fa-trash"></i></span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row"  style="text-align: center;">
                            <div class="col-md-12">
                                <ul >
                                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                    <!-- END TABLE HOVER -->
                </div>
            </div>
            <a  id="openModalButton" [hidden]="true" class="float" data-toggle="modal" data-target="#myModal">
                <i class="fa fa-plus my-float"></i>
            </a>
        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>
<!-- END MAIN -->

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
            <div class="vertical-center">
                <h4 *ngIf="!form.id && !showLayout" class="modal-title">Nuevo Sistema</h4>
                <h4 *ngIf="editLayout" class="modal-title">Editar Sistema: {{form.nombre}}</h4>
                <h4 *ngIf="showLayout" class="modal-title">{{sistema.nombre}}</h4>
            </div>
            <button  id="closeModalButton" type="button" [hidden]="true" class="close" data-dismiss="modal">&times;</button>
            <button type="button" class="close" (click)="close()">&times;</button>

        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <!-- INPUT GROUPS -->
            <div class="panel">
                <div class="panel-body" *ngIf="!showLayout">
                    <form class="form-auth-small" #ciclosForm="ngForm" (ngSubmit)="saveSistema()">

                        Nombre
                        <div class="form-group">
                            <input
                                type="hidden"
                                name="id"
                                [(ngModel)]="form.id"
                            />
                            <label for="ciclo-termino" class="control-label sr-only">Nombre</label>
                            <input [disabled]="showLayout"  type="text" class="form-control" id="ciclo-termino"  placeholder="Nombre" #nombre="ngModel" name="nombre" [(ngModel)]="form.nombre" required>
                        </div>
                        Descripción
                        <div class="form-group">
                            <label for="ciclo-ano-lectivo" class="control-label sr-only">Descripción</label>
                            <input [disabled]="showLayout" type="text" class="form-control" id="ciclo-ano-lectivo" placeholder="Descripción" #descripcion="ngModel" name="descripcion" [(ngModel)]="form.descripcion" required>
                            
                        </div>
                        Sistema Superior
                        <div class="form-group">
                            <select class="form-control" #sistema_sup_id="ngModel" name="sistema_sup_id" [(ngModel)]="form.sistema_sup_id">
                                <option value="">Elegir Sistema</option>
                                <option [value]="d.id" *ngFor="let d of sistemas">{{d.nombre}}</option>
                                
                            </select>
                        </div>
                        <button *ngIf="!showLayout && !loadingSaving" [disabled]="!ciclosForm.valid" type="submit" class="btn btn-primary btn-lg btn-block">Guardar</button>
                        <button *ngIf="loadingSaving" disabled="disabled" type="submit" class="btn btn-primary btn-lg btn-block"><i class="fa fa-spinner fa-spin"></i> Cargando...</button>
                    </form>
                    
                </div>
                <div class="panel-body" *ngIf="showLayout">
                    <div class="row">
                        <div class="col-md-6">
                            <form class="form-auth-small" #ciclosForm="ngForm" (ngSubmit)="saveSistema()">
                                Nombre
                                <div class="form-group">
                                    <input
                                        type="hidden"
                                        name="id"
                                        [(ngModel)]="form.id"
                                    />
                                    <label for="sistema-nombre" class="control-label sr-only">Nombre</label>
                                    <input [disabled]="showLayout"  type="text" class="form-control" id="sistema-nombre"  placeholder="Nombre" #nombre="ngModel" name="nombre" [(ngModel)]="sistema.nombre" required>
                                </div>
                                Descripción
                                <div class="form-group">
                                    <label for="ciclo-ano-lectivo" class="control-label sr-only">Descripción</label>
                                    <input [disabled]="showLayout" type="text" class="form-control" id="ciclo-ano-lectivo" placeholder="Descripción" #descripcion="ngModel" name="descripcion" [(ngModel)]="sistema.descripcion" required>
                                    
                                </div>
                                Sistema Superior
                                <div class="form-group">
                                    <select [disabled]="showLayout" class="form-control" #sistema_sup_id="ngModel" name="sistema_sup_id" [(ngModel)]="sistema.sistema_sup_id">
                                        <option value="null">Elegir Sistema</option>
                                        <option [value]="d.id" *ngFor="let d of sistemas">{{d.nombre}}</option>
                                        
                                    </select>
                                </div>
                                <button *ngIf="!showLayout && !loadingSaving" [disabled]="!ciclosForm.valid" type="submit" class="btn btn-primary btn-lg btn-block">Guardar</button>
                                <button *ngIf="loadingSaving" disabled="disabled" type="submit" class="btn btn-primary btn-lg btn-block"><i class="fa fa-spinner fa-spin"></i> Cargando...</button>
                            </form>

                        </div>
                        <div class="col-md-6" #courses>
                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <h5>Usuarios</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12" >
                                    <div class="row" *ngFor="let us of sistema.users">
                                        <div class="col-xs-10 col-sm-10 col-md-10" >
                                            <div class="metric metric2">
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-12 col-lg-12">
                                                        <p style="text-align: center;">
                                                            <span class="number">{{us.name}} {{us.last_name}}</span>
                                                        </p>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END INPUT GROUPS -->
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="close()">Close</button>
        </div>
  
      </div>
    </div>
</div>